<main class="container">
    <h2>Demandas</h2>

    <a (click)="novo()" class="btn btn-primary">Novo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Valor</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Cliente</th>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transacao of listaTransacoes">
                <td>{{transacao.valor}}</td>
                <td>{{transacao.data | date:'short'}}</td>
                <td>{{transacao.descricao}}</td>
                <td>{{transacao.cliente?.nome}}</td>
                <td>{{transacao.categoria?.id}}</td>
                <td>
                    <a (click)="alterar(transacao)" class="btn btn-primary">Alterar</a>
                    <a (click)="abrirConfirmacao(transacao)" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" #myModal tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir transação</h5>
                </div>
                <div class="modal-body">
                    Confirmar a exclusão da transação?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
                </div>
            </div>
        </div>
    </div>
</main>
